@font-face {
  font-family: "Montserrat-Base";
  src: url('/assets/fonts/Montserrat/Montserrat.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Montserrat/Montserrat.woff') format('woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Montserrat/Montserrat.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Montserrat/Montserrat.svg') format('svg'); /* Legacy iOS */
}


