.title-h1 {
    font: 300 48px/1.2em $font-family;
    color: $default;

    @include _500 {
        font: 500 32px/1.2em $font-family;
    }
}

.title-h2 {
    font: 500 32px/1.2em $font-family;
    color: $default;
}

.title-h3 {
    font: 500 28px/1.2em $font-family;
    color: $default;
}

.title-h4 {
    font: 500 24px/1.4em $font-family;
    color: $default;
}

.subtitle {
    font: 500 20px/1.4em $font-family;
    color: $default;

    &_bold {
        font-weight: 600;
    }
}

.text {
    font: 16px/1.8em $font-family;
    color: $default;

    &_bold {
        font-weight: 600;
    }

    &__lg {
        font: 16px/1.5em $font-family;

        @include _500 {
            font: 14px/1.5em $font-family;
        }

        &_bold {
            font-weight: 500;
        }
    }

    &__md {
        font: 14px/1.4em $font-family;
    }

    &__sm {
        font: 12px/1.3em $font-family;

        &_bold {
            font-weight: 500;
        }
    }
}

.upper {
    text-transform: uppercase;
}
