/* Font */
$font-family: 'Montserrat-Base', sans-serif;

/* Colors */
$base: #1f1e1e;
$blue: #39485b;
$red: #c11f36;
$grey-light: #f8f8f8;
$grey: #e5e5e5;
$grey-darken: #c8c8c8;
$grey-dark: rgba(0, 0, 0, .5);

/* Grid */
$container-width: 1014px;
$mobile-padding: 15px;

$site-menu-width: 310px;

$footer-height: 160px;
