@font-face {
    font-family: 'Icons';
    src: url('~assets/fonts/Montserrat/Montserrat.eot');
    src:
        url('~assets/fonts/Montserrat/Montserrat.woff') format('woff'),
        url('~assets/fonts/Montserrat/Montserrat.ttf') format('truetype'),
        url('~assets/fonts/Montserrat/Montserrat.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
